<!DOCTYPE html>
<html>
  <head>
    <title>Review</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark m-0 navbar-fixed-top">

       <% if @current_user %>
         <%= link_to("Review", "/posts/index", data: {"turbolinks" => false}, class: "navbar-brand") %>
       <% else %>
         <%= link_to("Review", "/", data: {"turbolinks" => false}, class: "navbar-brand") %>
       <% end %>
       <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
         <span class="navbar-toggler-icon"></span>
       </button>


       <div class="collapse navbar-collapse" id="Navbar">
         <ul class="navbar-nav navbar-right">
           <% if @current_user %>
            <li class="nav-item active">
              <%= link_to("ログインユーザー: #{@current_user.name}" ,"/users/#{@current_user.id}", data: {"turbolinks" => false}, class: "nav-link") %>
            </li>
            <li class="nav-item active">
              <%= link_to("新規投稿", "/posts/new", data: {"turbolinks" => false}, class: "nav-link") %>
            </li>
            <li class="nav-item active">
              <%= link_to("投稿一覧", "/posts/index", data: {"turbolinks" => false}, class: "nav-link") %>
            </li>
            <li class="nav-item active">
              <%= link_to("ユーザーリスト", "/users/index", data: {"turbolinks" => false}, class: "nav-link") %>
            </li>
            <li class="nav-item active">
              <%= link_to("ログアウト", "/logout", {data: {"turbolinks" => false}, method: "post", class: "nav-link"}) %>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to("Reviewとは", "/about", data: {"turbolinks" => false}, class: "nav-link") %>
            </li>
            <li class="nav-item active">
              <%= link_to("新規登録", "/signup", data: {"turbolinks" => false}, class: "nav-link") %>
            </li>
            <li class="nav-item active">
              <%= link_to("ログイン", "/login", data: {"turbolinks" => false}, class: "nav-link") %>
            </li>
          <% end %>
          </ul>
        </div>
     </nav>

     <div class="p-0 m-0">
       <%= yield %>
     </div>

     <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
     <% end %>

     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </body>
</html>
